.contenedor{
	width: 1024px;
	margin: 0 auto;
	margin-bottom: 20px;
	border: 1px #f2f2f2 solid;
	-moz-box-shadow: 0px 0px 2px 0px #888888;
	-webkit-box-shadow: 0px 0px 2px 0px #888888;
	box-shadow: 0px 0px 2px 0px #888888;
	padding: 10px;
	overflow: hidden;
}

.div_posibles_facturas{
	width: 450px;
	height: 400px;
	margin-bottom: 20px;
	
	float: left;
	margin-left: 30px;
}

.cuerpo_cuadro{
	width: 100%;
	height: 378px;
	border: 1px #f2f2f2 solid;
	-moz-box-shadow: 0px 0px 2px 0px #888888;
	-webkit-box-shadow: 0px 0px 2px 0px #888888;
	box-shadow: 0px 0px 2px 0px #888888;
	border: 1pt solid black;
	overflow-y: auto;
	overflow-x: hidden;
}

.titulo_cuadro{ 
	margin-left: 5px;
	margin-bottom: 5px;
}

.div_facturas_saldar{
	width: 450px;
	height: 400px;
	margin-bottom: 20px;
	
	float: right;
	margin-right: 30px;
}

.contact { 
	color: #000; 
	font-weight:bold;
	font-size: 14px;
	font-family:Arial, Helvetica;  
    *padding: 7px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left:5px;
}

.input_uno{
	width: 250px;
	background-color: rgba(255, 255, 255, 0.4); 
	border: 1px solid rgba(51, 51, 51, 0.15); 
	*padding: 7px; 
	font-family: Keffeesatz, Arial; 
	color: #4b4b4b; 
	font-size: 14px; 
	-webkit-border-radius: 5px;	
	*margin-top: 0px;
	padding-left: 2px;
}


.division-contenido{
	*margin-right: 10px;
}

.tabla_facturas{
	position: relative;
	left: -3px;
	width: 456px;
	border-collapse:collapse;
}

.bordes_tabla td{
	*border-top: 2pt solid #999999;
	border-bottom: 1pt solid #999999;
}

.bordes_tabla:hover{
	cursor: pointer;
}

.bordes_tabla{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bordes_tabla_saldar{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bordes_tabla_saldar td{
	*border-top: 2pt solid #999999;
	border-bottom: 1pt solid #999999;
}

.bordes_tabla_saldar:hover{
	cursor: pointer;
}

.div_botones_acciones{
	position: relative;
	width: 40px;
	left: 490px;
	top: -400px;
	margin-bottom: -110px;
	/* margin-top: 20px; */
	height: 100px;
}

.boton_accion{
	font-size: 20px;
}

.selectores_facturas{
	margin-bottom: 435px;
}

.header{
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
	border-bottom: 1px solid black;
	
}

.header th{
	border-left: 1px solid black;
}

.titulo_header_tabla{
	text-align: center;
	font-size: 14px;
}

.celdas_tabla{
	text-align: center;
}

.footer_recibos{
	text-align: right;
	margin-right: 20px;
}

.titulo_saldo{
	color: #000;
	font-weight: bold;
	font-size: 26px;
	font-family: Arial, Helvetica;
	margin-top: 0px;
	margin-bottom: 0px;
}

.input_saldo_pagar{
	background-color: rgba(255, 255, 255, 0.4);
	border: 1px solid rgba(51, 51, 51, 0.15);
	padding: 7px;
	font-family: Keffeesatz, Arial;
	color: #4b4b4b;
	font-size: 24px;
	text-align: right;
	-webkit-border-radius: 5px;
	width: 150px;
}

.boton_envio_cobro{
	background: #4b8df9;
	/* display: inline-block; */
	padding: 5px 10px 6px;
	color: #fbf7f7;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	box-shadow: 0 1px 3px #999;
	text-shadow: 0 -1px 1px #222;
	border: none;
	/* position: relative; */
	cursor: pointer;
	font-size: 18px;
	font-family: Verdana, Geneva, sans-serif;
	/* left: 150px; */
	/* bottom: 30px; */
	margin-top: 10px;
	/* float: right; */
}

.ui-autocomplete{
	max-height: 400px;
	overflow-x: hidden;
	overflow-y: auto;
}

.tipos_de_pago{
	font-family: Keffeesatz, Arial; 
	color: #4b4b4b; 
	font-size: 14px;
	display: inline-block;
}