.factura-wrapper {
    width: 98%;
    margin: 0 auto;
    border: 1px #c9c9c9 solid;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0px 0px 7px 0px #888888;
    -webkit-box-shadow: 0px 0px 7px 0px #888888;
    box-shadow: 0px 0px 7px 0px #888888;
    padding-top: 10px;
    padding-left: 5px;
        overflow: hidden;
}

.contact {
    color: #000;
    font-weight: bold;
    font-size: 14px;
    font-family: Arial, Helvetica;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
}

.input_uno {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(51, 51, 51, 0.15);
    font-family: Keffeesatz, Arial;
    color: #4b4b4b;
    font-size: 14px;
    -webkit-border-radius: 5px;
    padding-left: 2px;
}

.tabla-emisor{
    float: left;
    width: 50%;
}

.tabla-factura{
    float: right;
    width: 50%;
}

.header-container{
    width: 100%;
    overflow: hidden;
}
.details-container{
    width: 100%;
    overflow: hidden;
}
.tabla-detalles-head{
    margin-top: 20px;
    width: 100%;
}

.tabla-detalles-body{
    width:100%;
    padding-right: 10px;
}

.boton_agregar_detalle{
    margin-left: 5px;
    margin-bottom: 5px;
    background: #59B659;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fbf7f7;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #999;
    box-shadow: 0 1px 3px #999;
    text-shadow: 0 -1px 1px #222;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-family: Verdana, Geneva, sans-serif;
}

.tabla_productos {
    width: 99%;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: left;
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
    border: 1px solid #8C8C8C;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.tabla_productos thead th {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #999999), color-stop(1, #DBDBDB) );
    background: -moz-linear-gradient( center top, #999999 5%, #DBDBDB 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#DBDBDB');
    background-color: #999999;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    border-left: 1px solid #A3A3A3;
}

.tabla_productos td, .tabla_productos th {
    padding: 3px 10px;
}

.boton-eliminar-detalle{
    padding: 2px;
    background: red;
    width: 20px;
    margin: auto;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 45px;
    cursor: pointer;
    color: white;
}

.th_codigo{
    width: 110px;
}

.th_cantidad, .th_descuento{
    width: 80px;
}

.th_costo_unidad, .th_costo_total{
    width: 160px;
}

.th_eliminar{
    width: 50px;
}