.DS_Store

application/third_party/*
application/logs/*
application/images/articulos/*
Reportes/ARTICULO/REPORTE/CantArtVentaCliente.jasper
Reportes/ARTICULO/REPORTE/CantArtVentaCliente.jrxml
Reportes/FACTURA/Reportes/Cartelera.jasper
Reportes/ARTICULO/REPORTE/CantArtVentaCliente.jrxml
Reportes/ARTICULO/REPORTE/CantArtVentaCliente.jrxml
Reportes/ARTICULO/REPORTE/CantArtVentaCliente.jrxml
migracion/docker/logs/*
migracion/docker/dags/__pycache__/*
