[mysqld]
bind-address = 0.0.0.0
max_allowed_packet = 768M
default_authentication_plugin = mysql_native_password
lower_case_table_names = 1

[mysqldump]
user=DB_GABO_RESPALDO_USER
password=DB_GABO_RESPALDO_PASSWORD