.main_wrapper {	    
	position:relative;
    top:50px;
	background: #EDEDED;
	border: 1px solid #fff;
	border-radius: 5px;
	
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

.titulo_wrapper{
	font-weight: bold;
	font-size:24px;
	line-height: 0px;
	width: 400px;
	margin-left: 10px;
	text-shadow: 2px 1px 3px rgba(150, 150, 150, 1);
}

.division_wrapper{
	display:block;
    border:none;
    color:white;
    height:2px;	
	width: 25%;
	margin-left: 0px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.75), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0.75), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0.75), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0.75), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

.contenido_wrapper{
	width: 80%;
	margin: 20px;
}