.buttom{ 
	background: #4b8df9;
	/* display: inline-block; */
	padding: 5px 10px 6px;
	color: #fbf7f7;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	box-shadow: 0 1px 3px #999;
	text-shadow: 0 -1px 1px #222;
	border: none;
	position: relative;
	cursor: pointer;
	font-size: 14px;
	font-family: Verdana, Geneva, sans-serif;
	right: 20px;
	top: 40px;
	/* bottom: 15px; */
}

.buttom:hover	{ background-color: #2a78f6; }

.Informacion p
{
    margin: 0px;
	margin-left: 10px;
	margin-top:5px;
	display: inline-block; 	
}

.content_ob{
	padding-left: 20px;
	padding-bottom:10px;
}

.titles{
	font-weight:bold;
}

.sub_div{
	margin: auto;
	width: 400px;
	max-height: 50px;
	position: relative;
	*margin-top:5px;
	*left: 30px;
	border: 1px #efbc6b solid;
	text-align: center;
	background-color: #fee7af;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 5px;

	-moz-box-shadow: 3px 3px 5px 0px #888888;
	-webkit-box-shadow: 3px 3px 5px 0px #888888;
	box-shadow: 3px 3px 5px 0px #888888;

	color: #000; font-weight:bold;font-size: 14px;font-family:Arial, Helvetica;
}

.sub_div p{
	*position: relative;
	*top: -8px;
	*left: 15px;
}

.Informacion hr {
	display:block;
    border:none;
    color:white;
    height:2px;	
	width: 50%;
	margin-left: 0px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.75), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0.75), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0.75), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0.75), rgba(0,0,0,0.75), rgba(0,0,0,0));
}


.Informacion {
	margin: auto;
  position: relative;
  width: 400px;
  min-height: 10px;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset;
  border-radius: 2%     0%     0%     0% /     20%     0%     0%     0%;
  padding-bottom: 40px;
  margin-bottom: 20px;
}
.Informacion:before {
    position: absolute;
    z-index: -1;
    content: "";
    top: 0px;
    left: 0px;
    width: 33%;
    height: 25%;
    box-shadow: -10px -10px 15px rgba(0,0,0,0.5);
    -webkit-transform: rotate(7deg) translate(20px,25px) skew(20deg);
     -moz-transform: rotate(7deg) translate(20px,25px) skew(20deg);
     -ms-transform: rotate(7deg) translate(20px,25px) skew(20deg);
     -o-transform: rotate(7deg) translate(20px,25px) skew(20deg);
     transform: rotate(7deg) translate(20px,25px) skew(20deg);
    }

    .boton_volver{ 
	background: #4b8df9;
	/* display: inline-block; */
	padding: 5px 10px 6px;
	color: #fbf7f7;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	box-shadow: 0 1px 3px #999;
	text-shadow: 0 -1px 1px #222;
	border: none;
	position: relative;
	cursor: pointer;
	font-size: 14px;
	font-family: Verdana, Geneva, sans-serif;
	/* right: 10px; */
	top: 40px;
	/* bottom: 15px; */
	/* left: 10px; */
}