

.form p.contact { 
	font-size: 12px; 
	margin:0px 0px 10px 0;
	line-height: 14px; 
	font-family:Arial, Helvetica; 
}

.form {
	max-width: 1120px;
	min-width: 1120px;
	margin: 0 auto;
	margin-bottom: 20px;
	border: 1px #f2f2f2 solid;
	-moz-box-shadow: 0px 0px 2px 0px #888888;
	-webkit-box-shadow: 0px 0px 2px 0px #888888;
	box-shadow: 0px 0px 2px 0px #888888;
}

.form input[type="number"] {
 width: 200; 
}

.form label { color: #000; font-weight:bold;font-size: 14px;font-family:Arial, Helvetica; }

.form input, textarea { 
	background-color: rgba(255, 255, 255, 0.4); 
	border: 1px solid rgba(51, 51, 51, 0.15); 
	padding: 7px; 
	font-family: Keffeesatz, Arial; 
	color: #4b4b4b; 
	font-size: 14px; 
	-webkit-border-radius: 5px;
}

.form input:focus, textarea:focus { border: 1px solid #ff5400; background-color: rgba(255, 255, 255, 1); }

.form input.buttom{ 
	background: #4b8df9; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	*margin-top: 60px;  
	color: #fbf7f7; 
	text-decoration: none; 
	font-weight: bold; 
	line-height: 1; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px; 
	-moz-box-shadow: 0 1px 3px #999; 
	-webkit-box-shadow: 0 1px 3px #999; 
	box-shadow: 0 1px 3px #999; 
	text-shadow: 0 -1px 1px #222; 
	border: none; 
	*position: relative; 
	cursor: pointer; 
	font-size: 14px; 
	font-family:Verdana, Geneva, sans-serif; 
	*left:125px; 
	*bottom:30px;
}

.form input.butto{ background: #4b8df9; display: inline-block; padding: 5px 10px 6px; margin-top: 20px;  color: #fbf7f7; text-decoration: none; font-weight: bold; line-height: 1; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 1px 3px #999; -webkit-box-shadow: 0 1px 3px #999; box-shadow: 0 1px 3px #999; text-shadow: 0 -1px 1px #222; border: none; position: relative; cursor: pointer; font-size: 14px; font-family:Verdana, Geneva, sans-serif; width:70px; height:17px}
.form input.buttom:hover	{ background-color: #2a78f6; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.recuadro{
	margin: 10px;
	border:2px solid gray;
 	position: relative;

}

.recuadro2{
	margin-bottom: -120px;
	top: -217px;
	margin-left: 10px;
	width: 220px;
	height: 210px;
	border: 2px solid gray;
}

.recuadro3{
	width: 450px;
	height: 210px;
	border: 2px solid gray;
	position: relative;
	top: -110px;
	left: 270px;
}

.recuadro4{
	border: 2px solid gray;
	position: relative;
	margin-top: -150px;
	top: -140px;
	margin-left: 10px;
	margin-right: 10px;
}

.observaciones{
	width: 430px; resize: none;
	height: 150px; 
	margin-top: 20px; 
}

.advertencia_longitud{
	width: 211px;
	height: 10px;
	line-height: 10px;
	font-family:Arial, Helvetica;
	font-size: 12px;
	position: relative;
	top: -8px;
}

.status_2 img{
	position: relative;
	top: 5px;
	left: 5px;
}

.status_2 p{
	position: relative;
	top: -25px;
	left: 27px;
}

.status_2{
	position: absolute;	
    width: 170px;
	height: 25px;
	border: 1px #efbc6b solid;
	background-color: #fee7af;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 3px 3px 5px 0px #888888;
	-webkit-box-shadow: 3px 3px 5px 0px #888888;
	box-shadow: 3px 3px 5px 0px #888888;
	color: #000; 
	font-weight:bold;
	font-size: 14px;
	font-family:Arial, Helvetica;
}

.styleSelect{
	color: #000; 
	font-weight:bold;
	font-size: 14px;
	font-family:Arial, Helvetica; 
	padding: 5px 5px;
}

.divButton{
	width: 200px;
	position: relative;
	top: -125px;
	margin-bottom: -120px;
	left: 940px;
}

.permisos-label{
	font-weight: 600 !important; 
}

.permisos-div{
	background-color: #f7f7f7;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-moz-box-shadow: 0px 0px 6px 0px #888888;
	-webkit-box-shadow: 0px 0px 6px 0px #888888;
	box-shadow: 0px 0px 6px 0px #888888;

}

.estado_Ac {
	width: 80px;
	height: 15px;
	margin-bottom: 0px;
	border: 1px #92ce9c outset;
	background-color: #20fd08;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Geneva, sans-serif;
	font-style: inherit;
	text-decoration: inherit;
	letter-spacing: 0.075em;
}

.estado_De {
	width: 110px;
	height: 15px;
	margin-bottom: 0px;
	border: 1px #ce9293 outset;
	background-color: #fd080a;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Geneva, sans-serif;
	font-style: inherit;
	text-decoration: inherit;
	letter-spacing: 0.075em;
}

.foto_recuadro{
	display: inline;
	position: relative;
	top: -340px;
	border: 2px solid gray;
	left: 760px;
}

.cuatro_registrar{
	margin-top: 40px;
}