.contenedor {
	width: 1024px;
	margin: 0 auto;
	margin-bottom: 20px;
	border: 1px #f2f2f2 solid;
	-moz-box-shadow: 0px 0px 2px 0px #888888;
	-webkit-box-shadow: 0px 0px 2px 0px #888888;
	box-shadow: 0px 0px 2px 0px #888888;
	padding: 10px;
	overflow: hidden;
}

.contact {
	color: #000;
	font-weight: bold;
	font-size: 14px;
	font-family: Arial, Helvetica;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
}

.pad-l{
	padding-left: 20px;
}

.mar-top{
	margin-top: 10px;
}

.bold{
	font-weight: bold;
}

.contact small{
	color: red;
}

.boton_procesar {
	background: #4b8df9;
	/* display: inline-block; */
	padding: 5px 10px 6px;
	color: #fbf7f7;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	box-shadow: 0 1px 3px #999;
	text-shadow: 0 -1px 1px #222;
	border: none;
	/* position: relative; */
	cursor: pointer;
	font-size: 18px;
	font-family: Verdana, Geneva, sans-serif;
	/* left: 150px; */
	/* bottom: 30px; */
	margin-top: 10px;
	float: right;
}

.alert {
	padding: 8px 35px 8px 14px;
	margin-bottom: 18px;
	color: #c09853;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-top: 50px;
	margin-bottom: 0px;
}

.alert-heading {
	color: inherit;
}

.alert .close {
	position: relative;
	top: -2px;
	right: -21px;
	line-height: 18px;
}

.alert-success {
	color: #468847;
	background-color: #B2FF93;
	border-color: #C2DBAD;
}

.alert-danger,
.alert-error {
	color: #000000;
	background-color: #FF8C8C;
	border-color: #BD707B;
}

.imagen_celdas{
	overflow-x: scroll;
    overflow-y: hidden;
	width: 1000px;
}