body{
	*min-width: 1200px;
}

.main_wrapper{
	*overflow: hidden;
	width: 100%;
	margin: 0 auto;
	*top: 15px;
	*margin-bottom: -40px;
}

.factura_wrapper{
	*width: 965px;
	width: 99%;
	*height: 568px;
	*margin-right: 10px;
	border: 1px #c9c9c9 solid;
	*margin-bottom: 100px;
	background-color: #f0f0f0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0px 0px 7px 0px #888888;
	-webkit-box-shadow: 0px 0px 7px 0px #888888;
	box-shadow: 0px 0px 7px 0px #888888;
	*float: right;
	*overflow: hidden;
	*display:inline;
}

.selector_facturas{
	width: 270px;
	*width: 14%;
	*padding-top: 10px;
	margin-left: 10px;
	height: 568px;
	float: left;
	overflow: hidden;	
	border: 1px #c9c9c9 solid;
	*margin-bottom: 80px;
	background-color: #f0f0f0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0px 0px 7px 0px #888888;
	-webkit-box-shadow: 0px 0px 7px 0px #888888;
	box-shadow: 0px 0px 7px 0px #888888;
	display:table;
	position: absolute;
	left:-50%;
	*z-index: 99;
}

.botones_final{
	float:right;
	margin-right: 10px;
}


.factura_row{
	width: 110%;
	height: 65px;
	margin-bottom: 5px;
	margin-left: 3px;
	cursor:pointer;
	
	/*border: 2px #888888 solid;
	
	background: #eeeeee;
	background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
	background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
	background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
	background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
	background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;*/
	
	background-color: #ffffff;
	border: 2px solid #5b585e;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#94abff');
	/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
	/*Element must have a height (not auto)*/
	/*All filters must be placed together*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#94abff')";
	/*Element must have a height (not auto)*/
	/*All filters must be placed together*/
	background-image: -moz-linear-gradient(top, #ffffff, #94abff);
	background-image: -ms-linear-gradient(top, #ffffff, #94abff);
	background-image: -o-linear-gradient(top, #ffffff, #94abff);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#94abff));
	background-image: -webkit-linear-gradient(top, #ffffff, #94abff);
	background-image: linear-gradient(top, #ffffff, #94abff);
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	/*Use "background-clip: padding-box" when using rounded corners to avoid the gradient bleeding through the corners*/
	/*--IE9 WILL PLACE THE FILTER ON TOP OF THE ROUNDED CORNERS--*/
	opacity: 0.78;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 78);
	/*-ms-filter must come before filter*/
	filter: alpha(opacity = 78);
	/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
	/*All filters must be placed together*/



	
	
	
	-moz-user-select: none;
	-webkit-user-select: none;
}

.factura_row:hover{
	background: #cedce7;
	background: -moz-linear-gradient(top,  #cedce7 0%, #596a72 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cedce7), color-stop(100%,#596a72));
	background: -webkit-linear-gradient(top,  #cedce7 0%,#596a72 100%);
	background: -o-linear-gradient(top,  #cedce7 0%,#596a72 100%);
	background: -ms-linear-gradient(top,  #cedce7 0%,#596a72 100%);
	background: linear-gradient(to bottom,  #cedce7 0%,#596a72 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 );

}

.facturas_pendientes{
	display:block;
	height: 568px;
	width:100%;	
	margin: 0 auto;
	overflow-y: scroll;
}

.factura_row p{
	margin: 0px;
	margin-left: 5px;
}

.consecutivo_factura{
	color: #000; 
	font-weight:bold;
	font-size: 14px;
	font-family:Arial, Helvetica;  
    *padding: 7px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left:5px;
}

.cliente_factura_title{
	color: #000; 
	font-weight:bold;
	font-size: 14px;
	font-family:Arial, Helvetica;  
    *padding: 7px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left:5px;
}

.divisor_facturas_row{
	margin-top: 0px;
	margin-bottom: 0px;
}

.imagen_arrow{
	display: none;
}

.contenidoArticulos{	
	*height: 300px;
	*display: block;
    *overflow: auto;
    *width: 100%;
}

.boton_mostrarFactura{
	margin-left: 7px;
	margin-bottom: 5px;
	background: #FF9900; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fbf7f7; 
	text-decoration: none; 
	font-weight: bold; 
	line-height: 1; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px; 
	-moz-box-shadow: 0 1px 3px #999; 
	-webkit-box-shadow: 0 1px 3px #999;
	box-shadow: 0 1px 3px #999; 
	text-shadow: 0 -1px 1px #222; 
	border: none; 
	cursor: pointer; 
	font-size: 14px; 
	font-family:Verdana, Geneva, sans-serif;
}

.boton_mostrarFactura:active {
	position:relative;
	top:1px;
}

.boton_anular{
	margin-left: 5px;
	background: #FF4719; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fbf7f7; 
	text-decoration: none; 
	font-weight: bold; 
	line-height: 1; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px; 
	-moz-box-shadow: 0 1px 3px #999; 
	-webkit-box-shadow: 0 1px 3px #999;
	box-shadow: 0 1px 3px #999; 
	text-shadow: 0 -1px 1px #222; 
	border: none;  
	cursor: pointer; 
	font-size: 14px; 
	font-family:Verdana, Geneva, sans-serif;
}

.boton_anular:active {
	position:relative;
	top:1px;
}

.boton_editar{
	margin-left: 5px;
	background: #4b8df9; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fbf7f7; 
	text-decoration: none; 
	font-weight: bold; 
	line-height: 1; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px; 
	-moz-box-shadow: 0 1px 3px #999; 
	-webkit-box-shadow: 0 1px 3px #999;
	box-shadow: 0 1px 3px #999; 
	text-shadow: 0 -1px 1px #222; 
	border: none; 
	cursor: pointer; 
	font-size: 14px; 
	font-family:Verdana, Geneva, sans-serif;
}

.boton_guardar_editar{
	  background: #4B8DF9;
	  display: inline-block;
	  padding: 2px 3px 3px;
	  color: #fbf7f7;
	  text-decoration: none;
	  font-weight: bold;
	  line-height: 1;
	  -moz-border-radius: 5px;
	  -webkit-border-radius: 5px;
	  border-radius: 5px;
	  -moz-box-shadow: 0 1px 3px #999;
	  -webkit-box-shadow: 0 1px 3px #999;
	  box-shadow: 0 1px 3px #999;
	  text-shadow: 0 -1px 1px #222;
	  border: none;
	  cursor: pointer;
	  font-size: 19px;
	  font-family: Verdana, Geneva, sans-serif;
	  position: relative;
	  top: 1.4px;
	  display: none;
}

.boton_editar:active {
	position:relative;
	top:1px;
}

.boton_cobrar{
	margin-left: 5px;
	margin-bottom: 5px;
	background: #59B659; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fbf7f7; 
	text-decoration: none; 
	font-weight: bold; 
	line-height: 1; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px; 
	-moz-box-shadow: 0 1px 3px #999; 
	-webkit-box-shadow: 0 1px 3px #999;
	box-shadow: 0 1px 3px #999; 
	text-shadow: 0 -1px 1px #222; 
	border: none; 
	cursor: pointer; 
	font-size: 14px; 
	font-family:Verdana, Geneva, sans-serif;
}

.boton_cobrar:active {
	position:relative;
	top:1px;
}

.pop_up_pago_vuelto{
	display:none;
	*z-index: 15;
	*text-align: center;
	width: 300px;
	height: 200px;
	border: 1px #bfbfbf solid;
	background-color: #f0f0f0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 5px;
	-moz-box-shadow: 0px 0px 8px 4px #888888;
	-webkit-box-shadow: 0px 0px 8px 4px #888888;
	box-shadow: 0px 0px 8px 4px #888888;
}

.montos_vuelto_p{
	text-align: right;
}

.titulo_wrapper{
	margin-left:0px;
	width: 130px;
	text-shadow: none;
}

.pop_cantidad_a_pagar {
	font-size: 24px;
	width: 140px;
}



