.factura_wrapper{
	width: 98%;
	margin: 0 auto;
	border: 1px #c9c9c9 solid;
	margin-bottom: 10px;
	background-color: #f0f0f0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0px 0px 7px 0px #888888;
	-webkit-box-shadow: 0px 0px 7px 0px #888888;
	box-shadow: 0px 0px 7px 0px #888888;	
}

.contact { 
	color: #000; 
	font-weight:bold;
	font-size: 14px;
	font-family:Arial, Helvetica;  
    *padding: 7px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left:5px;
}

.contact2 { 
    /*Esto es el css para el titulo de numero de transaccion*/
	color: #000; 
	font-weight:bold;
	font-size: 14px;
	font-family:Arial, Helvetica;  
    *padding: 7px;
	margin-top: 5px;
	margin-bottom: 0px;
	margin-left:5px;
	float:left;
}


.input_uno{
	width: 250px;
	background-color: rgba(255, 255, 255, 0.4); 
	border: 1px solid rgba(51, 51, 51, 0.15); 
	*padding: 7px; 
	font-family: Keffeesatz, Arial; 
	color: #4b4b4b; 
	font-size: 14px; 
	-webkit-border-radius: 5px;	
	*margin-top: 0px;
	padding-left: 2px;
}

.input_dos{
	width: 100px;
	background-color: rgba(255, 255, 255, 0.4); 
	border: 1px solid rgba(51, 51, 51, 0.15); 
	*padding: 7px; 
	font-family: Keffeesatz, Arial; 
	color: #4b4b4b; 
	font-size: 14px; 
	-webkit-border-radius: 5px;	
	padding-left: 2px;
}

.moneda{
	width: 105px;
	background-color: rgba(255, 255, 255, 0.4); 
	border: 1px solid rgba(51, 51, 51, 0.15); 
	*padding: 7px; 
	font-family: Keffeesatz, Arial; 
	color: #4b4b4b; 
	font-size: 14px; 
	-webkit-border-radius: 5px;	
	padding-left: 2px;
}

.tipos_de_pago{
	font-family: Keffeesatz, Arial; 
	color: #4b4b4b; 
	font-size: 14px;
	display: inline-block;
}

.tabla_costos{
	float: right;
}

.boton_desall {
	background: #4b8df9; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fbf7f7; 
	text-decoration: none; 
	font-weight: bold; 
	line-height: 1; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px; 
	-moz-box-shadow: 0 1px 3px #999; 
	-webkit-box-shadow: 0 1px 3px #999;
	box-shadow: 0 1px 3px #999; 
	text-shadow: 0 -1px 1px #222; 
	border: none; 
	cursor: pointer; 
	font-size: 14px; 
	font-family:Verdana, Geneva, sans-serif;
}

.boton_desall:hover {
	background-color: #2a78f6;
}

.boton_desall:active {
	position:relative;
	top:1px;
}

.boton_act_all {
	margin-left: 5px;
	margin-bottom: 5px;
	background: #59B659; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fbf7f7; 
	text-decoration: none; 
	font-weight: bold; 
	line-height: 1; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px; 
	-moz-box-shadow: 0 1px 3px #999; 
	-webkit-box-shadow: 0 1px 3px #999;
	box-shadow: 0 1px 3px #999; 
	text-shadow: 0 -1px 1px #222; 
	border: none; 
	cursor: pointer; 
	font-size: 14px; 
	font-family:Verdana, Geneva, sans-serif;
}

.boton_act_all:hover {
	background-color: #199A19;
}

.boton_act_all:active {
	position:relative;
	top:1px;
}

.botones_final{
	width: 98%;
	margin: 0 auto;
	text-align: right;
}

.tabla_productos{
	width: 99%;
	margin: 0 auto;
	border-collapse: collapse; 
    text-align: left;
	font: normal 12px/150% Arial, Helvetica, sans-serif; 
	background: #fff; 
	overflow: hidden; 
	border: 1px solid #8C8C8C; 
	-webkit-border-radius: 5px;
	 -moz-border-radius: 5px; 
	 border-radius: 5px;
}

.tabla_productos  td, .tabla_productos  th { 
	padding: 3px 10px; 
}

.tabla_productos  thead th {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #999999), color-stop(1, #DBDBDB) );
	background:-moz-linear-gradient( center top, #999999 5%, #DBDBDB 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#DBDBDB');
	background-color:#999999; 
	color:#000000; 
	font-size: 14px; 
	font-weight: bold; 
	border-left: 1px solid #A3A3A3; 
}
 
.tabla_productos  thead th:first-child { border: none; }
 
.tabla_productos  tbody td {
	color: #7D7D7D; 
	border-left: 1px solid #DBDBDB;
	font-size: 12px;
	font-weight: normal; 
}

.tabla_productos  tbody .alt td { 
	background: #EBEBEB; 
	color: #7D7D7D; 
}

.tabla_productos  tbody td:first-child { border-left: none; }

.tabla_productos  tbody tr:last-child td { border-bottom: none; }

.input_codigo_articulo{
	width: 100%; 
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	z-index:2;
}

.cantidad_articulo{
	width: 100%; 
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	text-align: center;
	color: #000; 
	font-weight:bold;
	font-size: 14px;
	font-family:Arial, Helvetica;
}

.observaciones_div{
	*display: block;
	float: left;
	margin-left: 5px;
	margin-top: 5px;	
}

.observaciones{
	width: 400px; 
	resize: none;
	margin-left: 5px;
}

.advertencia_longitud{
	height: 10px;
	line-height: 10px;
	font-family:Arial, Helvetica;
	font-size: 12px;
	position: relative;
	left: 280px;
	margin-top: 0px;
	margin-bottom: 2px;
	*z-index: -1;
}

.boton_agregar {
	margin-left: 5px;
	background: #FF9900; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fbf7f7; 
	text-decoration: none; 
	font-weight: bold; 
	line-height: 1; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px; 
	-moz-box-shadow: 0 1px 3px #999; 
	-webkit-box-shadow: 0 1px 3px #999;
	box-shadow: 0 1px 3px #999; 
	text-shadow: 0 -1px 1px #222; 
	border: none; 
	cursor: pointer; 
	font-size: 14px; 
	font-family:Verdana, Geneva, sans-serif;
}

.boton_agregar:hover {
	background-color: #CC7A00;
}

.boton_agregar:active {
	position:relative;
	top:1px;
}

.boton_de_agregar{
	margin-top: 5px;
	margin-left: 5px;
}

.tipo_moneda_display {
	float: left;
	font-family: Keffeesatz, Arial; 
	color: #4b4b4b; 
	font-size: 14px;
	margin-top: 4px;
}

.th_codigo {width: 100px;}
.th_bodega {width: 50px;}
.th_cantidad {width: 50px;}
.th_costo_unidad {width: 125px;}
.th_costo_total {width: 110px;}
.th_descuento{width: 50px;}

.articulo_specs{
	color: #000; 
	font-weight:bold;
	font-size: 14px;
	font-family:Arial, Helvetica;
}

.contextMenu{
	width: 137px;
    height: 40px;
    border: 1px #888888 solid;
    background-color: #d4d4d4;
	color: #000; 
	font-weight:bold;
	font-size: 14px;
	font-family:Arial, Helvetica;
	cursor: pointer;
}

.contextMenu table tr:hover {
          background-color: #AEAEAE;
}

.imagen_arrow{
	position: absolute;
	*float: left;
	cursor: pointer;
	*left: 30px;
	*top: -20px;
	margin-top: -2px;
	margin-left: -10px;
	z-index:0;
}

.cant_total_articulos_div{
	*float: right;
	*display: inline;
	margin-left: 10px;
}

.cant_total_articulos_p{
	color: #000; 
	font-weight:bold;
	font-size: 14px;
	font-family:Arial, Helvetica;  
    *padding: 7px;
	margin-top: 0px;
	margin-bottom: 0px;
	*float: right;
	*margin-left:500px;
	*position: relative;
	*right: -40px;
	display: inline;
}

.cant_total_articulos{	
	*width: 50px;
	*float: left;
	*margin-right: 500px;
}

.pop_up_articulo{
	display:none;
	
	width: 300px;
	height: 310px;
	border: 1px #bfbfbf solid;
	background-color: #f0f0f0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0px 0px 8px 4px #888888;
	-webkit-box-shadow: 0px 0px 8px 4px #888888;
	box-shadow: 0px 0px 8px 4px #888888;
}

.pop_up_administrador{
	display:none;
	
	width: 300px;
	height: 190px;
	border: 1px #bfbfbf solid;
	background-color: #f0f0f0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0px 0px 8px 4px #888888;
	-webkit-box-shadow: 0px 0px 8px 4px #888888;
	box-shadow: 0px 0px 8px 4px #888888;
}

.pop_up_descuento{
	display:none;
	
	width: 300px;
	height: 140px;
	border: 1px #bfbfbf solid;
	background-color: #f0f0f0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0px 0px 8px 4px #888888;
	-webkit-box-shadow: 0px 0px 8px 4px #888888;
	box-shadow: 0px 0px 8px 4px #888888;
}

.pop_up_cantidad{
	display:none;
	
	width: 300px;
	height: 140px;
	border: 1px #bfbfbf solid;
	background-color: #f0f0f0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0px 0px 8px 4px #888888;
	-webkit-box-shadow: 0px 0px 8px 4px #888888;
	box-shadow: 0px 0px 8px 4px #888888;
}

.error_crear_factura_popup{
	display:none;	
	width: 500px;
	height: 130px;
	border: 1px #bfbfbf solid;
	background-color: #f0f0f0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0px 0px 8px 4px #888888;
	-webkit-box-shadow: 0px 0px 8px 4px #888888;
	box-shadow: 0px 0px 8px 4px #888888;
}

.inputs_popup{
	margin-left: 10px;
}

.buttoms_popup{
	text-align: right;
	margin-right: 10px;
	margin-top: -10px;
}

.division_wrapper_2{
	display:block;
    border:none;
    color:white;
    height:2px;	
	width: 75%;
	margin-left: 0px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.75), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0.75), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0.75), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0.75), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

.hora{
	display: inline;
}

.minutos{
	display: inline;
}

.segundos{
	display: inline;
}

.division_hora{
	display: inline;
}

.salida_pagina{
	width: 250px;
	height: 130px;
	border: 1px #bfbfbf solid;
	background-color: #f0f0f0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0px 0px 8px 4px #888888;
	-webkit-box-shadow: 0px 0px 8px 4px #888888;
	box-shadow: 0px 0px 8px 4px #888888;
}

.boton_salida_S {
	margin-top: 5px;
	margin-left: 5px;
	background: #FF4719; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fbf7f7; 
	text-decoration: none; 
	font-weight: bold; 
	line-height: 1; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px; 
	-moz-box-shadow: 0 1px 3px #999; 
	-webkit-box-shadow: 0 1px 3px #999;
	box-shadow: 0 1px 3px #999; 
	text-shadow: 0 -1px 1px #222; 
	border: none;  
	cursor: pointer; 
	font-size: 14px; 
	font-family:Verdana, Geneva, sans-serif;	
}

.boton_salida_S:hover {	
	background-color: #CC3914;
}

.boton_salida_S:active {
	position:relative;
	top:1px;
}

.boton_salida_N {
	margin-top: 5px;
	margin-right: 5px;
	background: #4b8df9; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fbf7f7; 
	text-decoration: none; 
	font-weight: bold; 
	line-height: 1; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px; 
	-moz-box-shadow: 0 1px 3px #999; 
	-webkit-box-shadow: 0 1px 3px #999;
	box-shadow: 0 1px 3px #999; 
	text-shadow: 0 -1px 1px #222; 
	border: none; 
	cursor: pointer; 
	font-size: 14px; 
	font-family:Verdana, Geneva, sans-serif;
}

.boton_salida_N:hover {
	background-color: #2a78f6;
}

.boton_salida_N:active {
	position:relative;
	top:1px;
}

.botones_salida{
	text-align: right;
}

.tooltip_imagen_articulo{
	display: none;
	position: absolute;
	z-index: 2;
	margin-top: -10px;
	margin-left: 30px;
}

.envio_factura{
	display: none;
	text-align: center;
}

.envio_p {
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
	font-size: 26px; 
	color: #C1C1C1;
}

.ui-autocomplete{
	max-height: 400px;
	overflow-x: hidden;
	overflow-y: auto;
}

.tabla_costos input{
	text-align: right;
}

.articulo_specs.final, .articulo_specs.unitario{
	text-align: right;
}

.imagen-margen-container:hover > .tooltip_imagen_articulo{
	display: block;
}