.footer_beg {
	*position:relative;
    *top:60px;
	margin-top: 60px;
}

.tablaAcerca{
    width:100%;
	*position:relative;
    *top:60px;
    margin: 0 auto;
	border-collapse: collapse;	
	font: normal 12px/normal Tahoma, Verdana, Arial, Helvetica, sans-serif;	
	color: #fff;
}



.acerca{
    color: #fff;
    height:0px;    
    text-align:left;   
}

.tablaAcerca tr td a:visited	{ color: #fff; text-decoration: none; }
.tablaAcerca tr td a:hover		{ color: #3366FF; }

.copyright{
    height: 0px;
    text-align:right;	
}